{% extends 'currencyconversion/index.html' %}
 {% block content %}



<form method="post" action="landingpage/">
    <table>
        <tr>
            <td>FC</td>
            <td>
                <input type="text" name="fc" />
            </td>
        </tr>
        <tr>
            <td>TC</td>
            <td>
                <input type="text" name="tc" />
            </td>
        </tr>
            <td>
                <button>Submit Form</button>
            </td>
        </tr>
    </table>

{% endblock %}